<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

    <style>
        body {
            font-family: Arial;
            background: linear-gradient(to right, #36d1dc, #5b86e5);
            text-align: center;
            margin-top: 150px;
            color: white;
        }

        a {
            text-decoration: none;
            background: white;
            color: #5b86e5;
            padding: 12px 20px;
            border-radius: 10px;
            font-weight: bold;
        }

        a:hover {
            background: #eee;
        }
    </style>
</head>

<body>

<h1>🔐 TP OAuth2 avec Spring Boot</h1>
<p>Connexion avec Google</p>

<br>

<a href="/profile">Accéder au profil</a>

</body>
</html>